@import "../../common/ui/_color.scss";
@import "../../common/ui/_font.scss";

.sh-dashboard-page {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .sh-dashboard-page__url-list-header {
    width: 100%;

    margin-top: 75px;
    margin-bottom: 30px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

  .sh-dashboard-page__url-list-title {
    @include roboto-light(22px, 25px);
    color: $text-color--primary;

    margin-right: 10px;
  }

  .sh-dashboard-page__url-list-clear-link {
    @include roboto-light(16px);
    color: $app-color;

    text-decoration: none;
  }
}