$app-color: #EB4A42;
$app-bg-color: #FCFBFA;

$text-color--primary: #555555;
$text-color--secondary: #AAAAAA;
$text-color--trivial: #CCCCCC;
$text-color--empty: #BFBFBF;

$input-placeholder-color: $text-color--empty;

$button-bg-color--active: $app-color;
$button-bg-color--disabled: #E0E0E0;

$button-text-color--active: #FFFFFF;
$button-text-color--disabled: $text-color--empty;

$input-bg-color: #EAEAEA;
