@mixin montserrat-regular($font-size, $line-height: 1.2) {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin roboto-light($font-size, $line-height: 1.2) {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin roboto-regular($font-size, $line-height: 1.2) {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}