@import "../../../common/ui/_color.scss";
@import "../../../common/ui/_font.scss";

.sh-shorten-list-item {
  width: 100%;
  min-height: 30px;

  flex: 0 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;


  .sh-shorten-list-item__url-info-container {
    flex: 1 1 auto;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }


  .sh-shorten-list-item__short-link-container {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .sh-shorten-list-item__short-link {
    @include roboto-regular(16px, 25px);

    cursor: pointer;
  }

  .sh-shorten-list-item__short-link-base {
    color: $text-color--primary;
  }

  .sh-shorten-list-item__short-link-shortcode {
    color: $app-color;
  }

  .sh-shorten-list-item__short-link-clipboard-info-text {
    @include roboto-regular(16px, 25px);

    margin-left: 25px;
    color: transparent;

    transition: color .4s ease;

    &.is-visible {
      color: $app-color;
    }
  }

  .sh-shorten-list-item__url {
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include roboto-light(16px, 25px);
    color: $text-color--trivial;

    text-decoration: none;
  }

  .sh-shorten-list-item__visit-count,
  .sh-shorten-list-item__last-visit {
    @include roboto-light(16px, 25px);
    color: $text-color--secondary;
  }

  .sh-shorten-list-item__visit-count {
    flex: 0 0 auto;

    width: 75px;
    text-align: center;
  }

  .sh-shorten-list-item__last-visit {
    flex: 0 0 auto;

    width: 115px;
    text-align: center;
  }


  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}