@import "../../../common/ui/_color.scss";
@import "../../../common/ui/_font.scss";

.sh-button {
  display: block;

  position: relative;

  border: none;
  border-radius: 3px;
  background-color: $button-bg-color--active;
  color: $button-text-color--active;

  transition: background .4s ease, color .4s ease;

  .sh-button__text {
    @include roboto-light(16px);
    color: $button-text-color--active;
  }

  .sh-button__content {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 10px;
  }

  .sh-button__loader {
    animation: sh-button__loader-rotate 2s linear infinite;

    .sh-button__loader-path {
      stroke-dasharray: 1,150;
      stroke-dashoffset: 0;
      stroke: rgba(white, .5);
      stroke-linecap: round;
      animation: sh-button__loader-dash 1.5s ease-in-out infinite;
    }
  }

  &:disabled {
    background-color: $button-bg-color--disabled;

    .sh-button__text {
      color: $button-text-color--disabled;
    }
  }

  @keyframes sh-button__loader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes sh-button__loader-dash {
    0% {
      stroke-dasharray: 1,150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -124;
    }
  }
}