@import "../../../common/ui/_color.scss";
@import "../../../common/ui/_font.scss";

.sh-shorten-list-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .sh-shorten-list-container__header {
    width: 100%;

    margin-bottom: 25px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .sh-shorten-list-container__header-link,
  .sh-shorten-list-container__header-visit-count,
  .sh-shorten-list-container__header-last-visit {
    @include roboto-regular(14px, 25px);
    color: $text-color--secondary;
  }

  .sh-shorten-list-container__header-link {
    flex: 1 0 auto;
  }

  .sh-shorten-list-container__header-visit-count {
    flex: 0 0 auto;

    width: 75px;
    text-align: center;
  }

  .sh-shorten-list-container__header-last-visit {
    flex: 0 0 auto;

    width: 115px;
    text-align: center;
  }

  .sh-shorten-list {
    width: 100%;
  }
}