@import "../common/ui/_color.scss";

@font-face {
  font-family: "Montserrat";
  src: url("../common/ui/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../common/ui/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../common/ui/fonts/Roboto-Light.ttf") format("truetype");
}


* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

p {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border: none;
  border-width: 0;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

textarea, input {
  outline: none;
}

input, select, textarea, button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body, input, select, textarea, button {
  font-family: proxima-soft, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  min-height: 100%;

  background-color: $app-bg-color;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sh-app {
  width: 100%;
  max-width: 720px;

  margin: 0 auto;

  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}