@import "../../../common/ui/_color.scss";
@import "../../../common/ui/_font.scss";

.sh-shorten-form {

  $sh-form-element-height: 45px;

  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 50px;

  .sh-shorten-form__field-list-section {
    flex: 1 1 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sh-shorten-form__input {
    width: calc(50% - 5px);
    height: $sh-form-element-height;

    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  .sh-shorten-form__error {
    width: 100%;

    margin-top: 10px;

    color: $app-color;
    @include montserrat-regular(12px);
    text-transform: uppercase;
  }

  .sh-shorten-form__submit-button {
    flex: 0 0 auto;

    width: 150px;
    height: $sh-form-element-height;

    margin-left: 10px;
  }
}