@import "../../common/ui/_color.scss";
@import "../../common/ui/_font.scss";

.sh-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-top: 100px;
}

.sh-header__title {
  @include montserrat-regular(48px);
  color: $app-color;

  border-bottom: 7px solid $app-color;
}

.sh-header__motto {
  @include roboto-light(16px);
  color: $text-color--secondary;
}