@import "../../../common/ui/_color.scss";
@import "../../../common/ui/_font.scss";
@import "../../../common/ui/_utils.scss";

.sh-input {
  width: 100%;

  height: 45px;

  padding: 10px 20px;

  background: $input-bg-color;

  border: none;
  border-radius: 3px;

  color: $text-color--primary;

  @include roboto-light(16px);
  @include sh-placeholder-color($input-placeholder-color);

  &.has-error {
    color: $app-color;
    border: 1px solid $app-color;
  }
}